/*

   _____  ______        _______ _____ _   _    _    
|____ |/ _  \ \      / |____ |____ | | / |  / \   
  |_  | | | |\ \ /\ / /  |_  | |_  | |/  | / _ \  
 ___| | |_| | \ V  V /  ___| |___| |  /| |/ ___ \ 
|_____|\____|  \_/\_/  |_____|_____|_/ |_/_/   \_\
*/

/*FONTS LICENSED FROM MY FONTS*/


@font-face {
    font-family: 'Aktiv';
    src: url('//d17vwh530ty7de.cloudfront.net/font/AktivGrotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aktiv';
    src: url('//d17vwh530ty7de.cloudfront.net/font/AktivGroteskItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Aktiv';
    src: url('//d17vwh530ty7de.cloudfront.net/font/AktivGroteskBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Aktiv';
    src: url('//d17vwh530ty7de.cloudfront.net/font/AktivGroteskBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Light';
    src: url('//d17vwh530ty7de.cloudfront.net/font/AktivGroteskLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv';
    src: url('//d17vwh530ty7de.cloudfront.net/font/AktivGroteskLightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
  font-family: 'Clan';
  src: url('//d17vwh530ty7de.cloudfront.net/font/ClanPro-NarrBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html{
  height: auto;
  overflow-x: hidden;

}

body{
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  background-color: #000;
  font-family: 'Aktiv', 'Droid Sans', monaco, sans-serif;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}




/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Variables
   ========================================================================== */

   $pink: #de548c;

/* ==========================================================================
   Global Styles
   ========================================================================== */

a{
  text-decoration: underline;
  color: white;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  &:hover{
    color: $pink;
    text-decoration: underline;
  }
}


hr{
  width: 100%;
  color: #fff;
}



/* ==========================================================================
   Title Image/Text
   ========================================================================== */

 @-webkit-keyframes 'shake'{
  0% {left: 20%;}
  100% {left: 40%;}
 }

.title{
  font-family: 'Aktiv Light', sans-serif;
  line-height: 0.85;
  font-weight: 100;
  font-size: 1em;
  top: 0;
  position: fixed;
  z-index: -1;
  width: 100%;
}

.title-border-top{
  width: 60%;
  margin: auto 25% auto 25%;
  height: 10px;
  top: 10%;
  position: fixed;
  border-top: 1px solid white;
}

.title-border-bottom{
  width: 60%;
  margin: auto 25% auto 25%;
  height: 10px;
  top: 99%;
  position: fixed;
  border-top: 1px solid white;
}

.title-ata{
  width: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  text-align: center;
  font-size: 120px;
  font-weight: 100;
  line-height: 80px;
  color: #fff;
}


.title-image{
  position: fixed;
  width: 100%;
  height: auto;
  img{
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}



.title-and{
  width: 100%;
  text-align: center;
  position: fixed;
  top: 30%;
  font-size: 60px;
  color: #fff;
  
}

.title-trevor{
  width: 100%;
  position: fixed;
  top: 40%;
  left: 20%;
  font-size: 120px;
  line-height: -5em;
  text-align: center;
  color: #fff;
}

/* ==========================================================================
   Device Specs / Hidden Until Media Query Breakpoint
   ========================================================================== */

.mobi-title {
    display: none;
  }

.mobi-image{
    display: none;
}

.tablet-title{
  top: 20px;
  position: fixed;
  color: #fff;
  line-height: 1;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
  display: none;
  text-transform: uppercase;
  z-index: 1;
  text-align: center;
  vertical-align: bottom;
  font-size: 2em;
  font-family: 'Aktiv', 'Lato', sans-serif;
  height: 110%;
  h1{
    font-weight: normal;
    color: black;
  }
  img{
    max-width: 100%;
  }
  span.smaller{
    font-weight: 100;
    font-size: 0.5em;
  }
}





/* ==========================================================================
   Abstract and Writer/Photo Credits
   ========================================================================== */
.abstract{
  border-bottom: 1px solid white;
  font-family: 'Aktiv', 'Lato', sans-serif;
  font-weight: 100;
  padding-bottom: 30px;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.5;
  width: 80%;
  margin: 25px 10% auto 10%;
}




.credits{
  color: #fff;
  width: 80%;
  margin: 5px 10% 10% 10%;
  font-weight: lighter;
  .heavy{
    font-weight: bold;
  }
  .social-links{
    float: right;
    margin-top: -45px;
    margin-right: 5%;
    a{
      img{
        max-width: 20px;
        height: auto;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    iframe{
      display: block;
      padding: 5px;
      width: 100px !important;
      margin-left: 0;
    }
  }
}

  .author{
  margin-left: 0;
  float: none;
  left: 0;
  }

  .photographer{
  float: none;
  left: 0;
  }




/* ==========================================================================
   Article Body
   ========================================================================== */

.main{
  background-color: #fff;
  width: 100%;
  height: auto;
  position: absolute;
  top: 100%;
  margin-bottom: 0;
  img{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover{
      opacity: 0.95;
    }
  }
  .interview{
    margin: 2.5% 20% 2.5% 20%;
    position: relative;
    font-size: 0.9em;
    width: 60%;
    .final{
      margin: 2.5% 0 100px 0;
    }
  }
}


.black{
  background-color: #000;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 0;
}

.white{
  background-color: #fff;
  color: #000;
  padding-top: 2%;
  padding-bottom: 2%;
  a{
    color: black;
    &:hover{
      color: $pink;
    }
  }
  .social-links{
    text-align: center;
    a{
      img{
        max-width: 20px;
        padding: 5px;
        height: auto;
        
      }
      &:hover{
        opacity: 0.7;
      }
    }
    iframe{
      display: none;
      width: 100px;
      
    }
  }
}

.white-text{
  color: #fff;
}

.black-text{
  color: #000;
}

.col1, .col2{
  position: relative;
  font-weight: 100;
}

.col1{
  width: 45%;
  left: 5%;
  margin-top: 2.5%;
  img{
    max-width: 90%;
    width: 90%;
    height: auto;
  }
}

.col2{
  width: 45%;
  left: 50%;
  margin-top: 2.5%;
  right: 5%;
}

.small-pull{
  width: 100%;
  margin: auto 0 2.5% 0;
  .small-image{
    max-width: 50%;
    width: 50%;
    float: left;
    img{
      max-width: 90%;
    }
  }
  .small-quote{
    float: right;
    max-width: 50%;
    width: 50%;
    left: 50%;
    top: -9px;
    position: absolute;
    line-height: 1.5;
    font-style: italic;
    p{
      text-transform: uppercase;
      font-size: 1.75em;
      margin: 0;
    }
  }
}

.rbma{
  width: 50%;
  margin: 0 auto 0 auto;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.float-left{
  width: 100%;
  overflow: auto;
  height: auto;
  margin-bottom: 5%;
  margin-top: 5%;
}

.float-image{
  margin-left: 5%;
  width: 45%;
  height: auto;
  float: left;
  img{
    max-width: 100%;
    width: 100%;
    height: auto;
    float: left;
    margin-right: 40px;
  }
}

.float-text {
  margin: 0 1% 2px 1%;
  width: 48%;
  float: right;
  font-size: 0.9em;
  p{
    margin-top: 7.5%;
    margin-bottom: 7.5%;
  }
  .col1{
    width: 60%;
  }
  .col2{
    width: 60%;
    left: 30%;
  }
}


.rbma-float{
  float: left;
  color: #000;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  margin: auto 5% auto 5%;
  &.align{
    margin-top: -1%;
  }
}


.spacer{
  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 300px;
}

.small-spacer{
  width: 100%;
  height: 10px;
  position: relative;
  margin-top: 100px;
}

.full-image{
  width: 100%;
  height: auto;
  margin-top: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  img{
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}


.pullquote{
  width: 40%;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Aktiv', 'Lato', sans-serif;
  font-weight: 100;
  margin: 50px auto auto 50%;
  padding-top: 10px;
  border-top: 1px solid white;
  line-height: 1.5;
  font-size: 1.8em;
  span.bold{
    font-weight: 800;
  }
}


.pullquote-image{
  font-size: 2em;
  font-style: italic;
  margin-left: 10%;
  position: absolute;
  top: 10%;
  right: 10%;
  width: 35%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  text-align: left;
  text-transform: uppercase;
  display: block;
  font-family: 'Aktiv', 'Lato', sans-serif;
  font-weight: bold;
}

.pullquote-image-bottom{
  font-size: 2em;
  font-style: italic;
  margin-left: 10%;
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 35%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  text-align: left;
  text-transform: uppercase;
  display: block;
  font-family: 'Aktiv', 'Lato', sans-serif;
  font-weight: bold;
}

.pullquote-image-bottom-left{
  font-size: 2em;
  line-height: 1.75;
  font-style: italic;
  margin-left: 10%;
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 35%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  text-align: left;
  text-transform: uppercase;
  display: block;
  font-family: 'Aktiv', 'Lato', sans-serif;
  font-weight: bold;
}

.pullquote-image span.lighter{
  font-weight: 100;
}


.final-spacer{
  width: 100%;
  height: 60px;
  position: static;
  margin-top: 1%;
  background-color: #fff;
  display: none;
  z-index: 99;
  }

footer{
  width: 100%;
  border-top: 1px solid black;
  height: 100px;
  background-color: white;
  color: black;
  font-family: 'Aktiv', sans-serif;
  p{
    padding: 10px 5% 10px 5%;
    font-size: 0.8em;
    a{
      color: $pink;
    }
  }
}



/* ==========================================================================
   Query Desktop Large
   ========================================================================== */



@media screen and (min-width: 1200px){


.main{
    top: 100%;
  }

.title-ata{
  width: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  text-align: center;
  font-size: 120px;
  font-weight: 100;
  line-height: 80px;
  color: #fff;
}

  .title-border-top{
    top: 85px;
  }

  .title-border-bottom{
    bottom: 100px;
  }


  .abstract{
    width: 70%;
    margin: auto 15% auto 15%;
  }


.credits{
  color: #fff;
  width: 80%;
  margin: 5px 10% 10% 10%;
  font-weight: lighter;
  .heavy{
    font-weight: bold;
  }
  .social-links{
    float: right;
    margin-top: -45px;
    margin-right: 5%;
    a{
      img{
        max-width: 20px;
        height: auto;
      }
    }
  }
}

  .author{
  margin-left: 5%;
  float: none;
  left: 0;
  }

  .photographer{
  float: none;
  left: 0;
  margin-left: 5%;
  }

}

@media (min-width: 1025px) and (max-width: 1199px){

  .title{
    width: 100%;
    overflow: hidden;
  }

  .title-block{
    margin-left: 5%;
    margin-right: 5%;
    background-color: yellow;
  }
  .title-image{
    background-color: #fff;
    width: 130%;
    height: auto;
    img{
      max-width: 130%;
      margin-left: -140px;
      height: auto;
      overflow: hidden;
      z-index: 1;
    }
  }

  .title-ata{
    left: -300px;
  }

  .title-and{
    top: 30%;
    margin-left: 0;
    left: 0;
  }

  .title-border-bottom{
    top: 650px;
    margin-left: 20%;
    margin-right: 20%;
    width: 50%;
  }

  .title-border-top{
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .credits{
  color: #fff;
  width: 80%;
  margin: 5px 10% 10% 10%;
  font-weight: lighter;
  .heavy{
    font-weight: bold;
    }
  }

  .author{
  margin-left: 0;
  float: none;
  left: 0;
  }

  .photographer{
  float: none;
  left: 0;
  }

  .small-pull{
  width: 100%;
  margin: auto 0 2.5% 0;
  .small-image{
    max-width: 50%;
    width: 50%;
    float: left;
    img{
      max-width: 90%;
    }
  }
  .small-quote{
    float: right;
    max-width: 50%;
    width: 50%;
    left: 50%;
    top: -9px;
    position: absolute;
    line-height: 1.5;
    p{
      text-transform: uppercase;
      font-size: 1.5em;
      margin: 0;
    }
  }
  }
}

@media only screen and (min-width:860px) and (max-width:1024px) {

  #page #logo {
    padding-left:13px
  }
  #page #header {
    height:auto;
    padding:0;
    position: absolute;
    max-width: 100%;
    width: 100%;
    nav{
      border-top:1px solid #414141;
      display:block;
      padding:0 0 0 13px;
      ul{
        margin: 0;
        padding: 0;
        li.sub{
          background:url(../media/darr-pos.png) 67% 50% no-repeat;
          &.submenu{
            margin:0 0 0 -15px !important;
          }
        }
        li span{
          padding:0 47.6px 0 0;
        }
      }
      &.mobil{
        display:block;
        display:inline;
        float:right;
        width:auto;
        li.select_menu{
          display:none !important;
        }
        li .login{
          display: block;
          padding: 0 16px 0 0;
        }
      }
    }
  }



  .title-border-top, .title-border-bottom{
    display: none;
  }

  .title{
    overflow-x: hidden;
  }


  .title-image{
    width: 150%;
    margin-left: -150px;
  }

  .title-ata{
    top: 50px;
    font-size: 6em;
  }

  .title-and{
    top: 240px;
  }

  .title-trevor{
    top: 340px;
    left: 25%;
    font-size: 6em;
  }

  .main{
    top: 900px;
  }

  .credits{
  color: #fff;
  width: 80%;
  margin: 5px 10% 10% 10%;
  font-weight: lighter;
  .heavy{
    font-weight: bold;
  }
  }

  .author{
  margin-left: 0;
  float: none;
  left: 0;
  }

  .photographer{
  float: none;
  left: 0;
  }

  .small-pull{
  width: 100%;
  margin: auto 0 2.5% 0;
  .small-image{
    max-width: 50%;
    width: 50%;
    float: left;
    img{
      max-width: 90%;
    }
  }
  .small-quote{
    float: right;
    max-width: 50%;
    width: 50%;
    left: 50%;
    top: -9px;
    position: absolute;
    line-height: 1.5;
    p{
      text-transform: uppercase;
      font-size: 1.25em;
      margin: 0;
    }
  }
  }
}

/* ==========================================================================
   Query Tablet
   ========================================================================== */
@media (min-width: 768px) and (max-width: 859px){

.title, .title-border-bottom, .title-border-top{
    display: none;
  }


  #page #header #logo {
    height:58px;
    position: absolute;
    top: 0;
    left: 10px;
    a{
      line-height: 58px;
      span{
        line-height:16px;
        font-size:11px;
        margin-top:-6px;
      }
    }
  }


  #page #header nav {
    display:none;
    &.mobil{
      display:inline;
      height: 58px;
      position: absolute;
      width: 30%;
      padding-left: 60%;
      li.select_menu{
        display:block;
          right:7px;
        z-index: 11;
      }
    }
  }



  body{
    height: auto;
  }


  .title-ata, .title-and, .title-trevor{
    display: none;
  }

  .tablet-title{
    display: block !important;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    height: auto;
    position: absolute;
    text-align: center;
    overflow: hidden;
    z-index: 0;
    top: 0;
    img{
      max-width: 185%;
      margin-left: -250px;
      overflow: hidden;
    }
    h1{
      position: absolute;
      top: 5%;
      width: 80%;
      font-size: 2.5em;
      margin-left: 10%;
      margin-right: 10%;
      color: #fff;
    }
  }


  .title-border-top, .title-border-bottom{
    display: none;
  }

  .abstract{
    text-align: center;
    font-size: 1.1em;
    width: 80%;
    margin: auto 10% auto 10%;
    font-weight: 100;
    padding-top: 30px;
  }

  .credits{
  color: #fff;
  width: 80%;
  margin: 5px 10% 10% 10%;
  }

  .author{
  margin-left: 0;
  float: none;
  left: 0;
  }

  .photographer{
  float: none;
  left: 0;
  }

  .main{
    height: 100%;
    z-index: 2;
    top: 850px;
    .interview{
      margin: 50px 10% 50px 10%;
      position: relative;
      font-size: 0.8em;
      width: 80%;
    }
  }

  .full-image{
    width: 90%;
    height: auto;
  }

  .float-image{
    width: 90%;
    height: auto;
    float: left;
  }

  .float-left{
    max-width: 100%;
    overflow-x: hidden;
    float: left;
    .col1{
      width: 60%;
      margin: 5% 2% 5% 2%;
      left: 0;
      font-size: 1em;
      line-height: 1.5;
    }
    .col2{
      width: 60%;
      margin: 5% auto 5% 40%;
      left: 0;
      font-size: 1em;
      line-height: 1.5;
    }
  }

  .float-text{
    width: 72%; /*90% of 80% normal column size, non-float*/
    margin: 0 14% 0 14%;
    font-size: 0.8em;
    line-height: 1.6;
  }

  .rbma-float{
    font-size: 1.3em;
    text-transform: none;
    margin-top: 5%;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .interview{
    margin-top: -30px;
  }

  .rbma{
    text-align: center;
    left: 0;
    width: 80%;
    margin: 10px 10% 5% 10%;
    font-size: 1em;
    text-transform: uppercase;
  }



  .pullquote{
    width: 60%;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Aktiv', 'Lato', sans-serif;
    font-weight: 300;
    margin-left: 40%;
    margin-bottom: 5%;
    padding-top: 10px;
    border-top: 1px solid white;
    line-height: 1.5;
    font-size: 1.8em;
    span.bold{
      font-weight: 800; 
    }
  }


  .pullquote-image{
    font-size: 1.8em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 60%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    span.lighter{
      font-weight: 300;
    }
  }


  .pullquote-image, .pullquote-image-bottom, .pullquote-image-bottom-left{
    display: none;
  }
}



/* ==========================================================================
   Large Phone, Small Tablet
   ========================================================================== */


@media (max-width: 767px){

.title, .title-border-bottom, .title-border-top{
    display: none;
  }

  #page #header{
    width: 100%;
    max-width: 100%;
    #logo{
      height:58px;
        a{
        line-height: 58px;
            span{
              line-height:16px;
              font-size:11px;
              margin-top:-6px;
            }
          }
        }
       }


  #page #header #logo {
    height:58px;
    a{
      line-height: 58px;
      span{
        line-height:16px;
        font-size:11px;
        margin-top:-6px;
      }
    }
  }


  #page #header nav {
    display:none;
    &.mobil{
      display:inline;
      padding-left: 35%;
      height: 58px;
      position: absolute;
      width: 20%;
      li.select_menu{
        display:block;

      }
    }
  }




  .title-ata, .title-and, .title-trevor{
    display: none;
  }

  .tablet-title{
    display: block !important;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    top: 0;
    height: auto;
    position: absolute;
    text-align: center;
    overflow: hidden;
    img{
      max-width: 280%;
      margin-left: -370px;
      overflow: hidden;
    }
    h1{
      position: absolute;
      top: 10%;
      width: 80%;
      font-size: 2em;
      margin-left: 10%;
      margin-right: 10%;
      color: #fff;
    }
  }


  
  body{
    background-color: #fff;
    height: auto;
    max-width: 100%;
  }
  .title-border-top, .title-border-bottom{
    display: none;
  }

  .abstract{
    text-align: center;
    font-size: 1.1em;
    width: 80%;
    margin: auto 10% auto 10%;
    font-weight: 100;
  }

  .credits{
  color: #fff;
  width: 80%;
  margin: 5px 10% 10% 10%;
  }

  .author{
  margin-left: 0;
  float: none;
  left: 0;
  }

  .photographer{
  float: none;
  left: 0;
  }

  .main{
    height: 100%;
    z-index: 2;
    top: 650px;
    .interview{
      margin: 50px 10% 50px 10%;
      position: relative;
      font-size: 0.8em;
      width: 80%;
    }
  }



  .full-image{
    width: 90%;
    height: auto;
  }

  .float-image{
    width: 90%;
    height: auto;
    float: left;
  }

  .float-left{
    max-width: 100%;
    overflow-x: hidden;
    float: left;
    .col1{
      width: 60%;
      margin: 5% 2% 5% 2%;
      left: 0;
      font-size: 1em;
      line-height: 1.5;
    }
    .col2{
      width: 60%;
      margin: 5% auto 5% 40%;
      left: 0;
      font-size: 1em;
      line-height: 1.5;
    }
  }

  .float-text{
    width: 80%; /*90% of 80% normal column size, non-float*/
    margin: 0 10% 0 10%;
    font-size: 0.8em;
    line-height: 1.6;
  }

  .rbma-float{
    font-size: 1.2em;
    text-transform: none;
    margin-top: 5%;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .interview{
    margin-top: -30px;
  }

  .rbma{
    text-align: center;
    left: 0;
    width: 80%;
    margin: 10px 10% 5% 10%;
    font-size: 1em;
    text-transform: uppercase;
  }


  .pullquote{
    width: 60%;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Aktiv', 'Lato', sans-serif;
    font-weight: 300;
    margin-left: 40%;
    margin-bottom: 5%;
    padding-top: 10px;
    border-top: 1px solid white;
    line-height: 1.5;
    font-size: 1.8em;
    span.bold{
      font-weight: 800;
    }
  }



  .pullquote-image{
    font-size: 1.8em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 60%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    span.lighter{
      font-weight: 300;
    }
  }

  .pullquote-image, .pullquote-image-bottom, .pullquote-image-bottom-left{
    display: none;
  }


.small-pull{
  width: 100%;
  margin: auto 0 2.5% 0;
  .small-image{
    max-width: 50%;
    width: 50%;
    float: left;
    img{
      max-width: 90%;
    }
  }
  .small-quote{
    float: right;
    max-width: 50%;
    width: 50%;
    left: 50%;
    top: -9px;
    position: absolute;
    line-height: 1.5;
    p{
      text-transform: uppercase;
      font-size: 1.25em;
      margin: 0;
    }
  }
  }
  

}

/* ==========================================================================
   Query Medium/Large Mobile
   ========================================================================== */

   @media (max-width: 568px){

    html{
      max-width: 568px !important;
    }

    #page{
      max-width: 568px;
      #header{
        max-width: 100%;
        width: 100%;
        overflow-x: hidden;
        #logo{
          height: 58px;
          a{
            line-height: 58px;
            span{
              line-height:16px;
            font-size:11px;
            margin-top:-6px;
            }
          }
        }
        nav{
          display:none;
          &.mobil{
          display:inline;
          height: 58px;
          position: absolute;
          width: 25%;
          padding-left: 15%;
          text-align: center;
          li.select_menu{
            display:block;
          }
          }
        }
      }
    }

  .title-ata{
    top: 20%;
    }

  .main{
    top: 600px;
  }

  .small-pull{
  width: 100%;
  margin: auto 0 2.5% 0;
  .small-image{
    max-width: 100%;
    width: 100%;
    float: left;
    img{
      max-width: 90%;
    }
  }
  .small-quote{
    float: left;
    max-width: 100%;
    width: 100%;
    left: 0;
    position: relative;
    line-height: 1.5;
    margin-top: 2.5%;
    margin-bottom: 0;
    p{
      text-transform: uppercase;
      font-size: 1.5em;
      margin: 0;
    }
  }
  }

  
}

/* ==========================================================================
   Query mobile
   ========================================================================== */



@media (max-width: 480px){

  html{
    max-width: 480px !important;
    overflow-x: hidden;
  }
  
  
  body{
    background-image: none;
    background-position: top;
    -webkit-background-attachment: scroll;
    -moz-background-attachment: scroll;
    -o-background-attachment: scroll;
    -ms-background-attachment: scroll;
    background-attachment: scroll;
    width: 100%;
    height: auto;
  }


  #page{
    width: 100%;
    height: auto;
    }

  #header{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    overflow-x: hidden;
  }

  #page #header #logo .sitename {
    display:none;
  }

  #page #header #logo .mobilesitename {
    display:none;
  }

  #page #header nav.mobil {
    display:inline;
    height: 58px;
    position: absolute;
    top: 0;
    width: 30%;
    padding-left: 40%;
    li.select_menu{
      display:block;
      margin-right:7px;
    }
  }

  .title{
    display: none;
  }

  .mobi-image{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: auto;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    img{
      max-width: 100%;
      width: 100%;
      height: auto !important;
    }
  }


  .title, .title-border-bottom, .title-border-top{
    display: none;
  }

  .mobi-title{
    display: block;
    position: relative;
    top: 0;
    width: 70%;
    z-index: 1;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;
    h1{
      color: #fff;
      font-family: 'Aktiv', 'Lato', sans-serif;
      font-weight: bold;
      font-size: 1.82em;
      padding: 10px 10px 10px 10px;
      text-transform: uppercase;
    }
}


  .tablet-title{
    display: none !important;
  }

  .main{
    top: 250px;
    height: auto;
      
    .abstract{
      font-size: 0.8em;
      font-weight: 800;
      width: 80%;
      margin: 0 10% 0 10%;
      border-bottom: 1px solid white;
    }
    .interview{
      margin: 10% 10% 10% 10%;
      font-size: 0.8em;
      width: 80%;
      .final{
        margin: 2.5% 0 20px 0;
      }
    }
  }



  .white{
    .social-links{
    text-align: center;
    padding-bottom: 70px;
    a{
      img{
        max-width: 20px;
        height: auto;
      }
    }
  }
}

  .final{
    min-height: 400px;
    margin-bottom: 15%;
    position: static;
  }



  .full-image{
    width: 90%;
    margin-bottom: 5%;
    height: auto;
  }

  .float-image{
    width: 90%;
    height: auto;
    float: left;
  }

  .float-text{
    width: 80%; /*90% of 80% normal column size, non-float*/
    margin: 0 10% 0 10%;
    font-size: 0.8em;
    line-height: 1.5;
    .col1{
      width: 100%;
    }
    .col2{
      margin-left: 0;
      width: 100%;
    }
  }


  .rbma-float{
    font-size: 1.4em;
    margin-top: 5%;
    margin-left: 0;
    left: 0;
    width: 100%;
  }


  .rbma{
    text-align: left;
    left: 0;
    width: 80%;
    margin: auto 10% -8% 10%;
    font-size: 0.9em;
    text-transform: uppercase;
  }

  .col1, .col2{
    float: left;
    width: 100%;
    font-size: 1em;
    line-height: 1.7

  }
  .col1{
    width: 96%;
    margin: 5% 4% 5% 0;
    left: 0;
  }

  .col2{
    width: 96%;
    margin: 5% 4% 5% 0;
    left: 0;
  }

  .pullquote{
    font-size: 1.5em;
    border-bottom: 1px solid black;
    line-height: 1.5;
    padding-top: 0;
  }

  .pullquote-image, .pullquote-image-bottom, .pullquote-image-bottom-left{
    display:none;
  }

  .black{
    background-color: #000;
    color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
  }


.credits{
  color: #fff;
  width: 100%;
  font-size: 0.7em;
  .social-links{
    float: right;
    margin-top: -25px;
    margin-right: 25%;
    a{
      img{
        max-width: 20px;
        height: auto;
      }
    }
  }
}

  .small-pull{
  width: 100%;
  margin: auto 0 2.5% 0;
  .small-image{
    max-width: 100%;
    width: 100%;
    float: left;
    img{
      max-width: 90%;
    }
  }
  .small-quote{
    float: left;
    max-width: 100%;
    width: 100%;
    left: 0;
    position: relative;
    line-height: 1.5;
    margin-top: 2.5%;
    margin-bottom: 0;
    p{
      text-transform: uppercase;
      font-size: 1.5em;
      margin: 0;
    }
  }
}


  footer{
  width: 100%;
  height: 60px;
  bottom: 0;
  margin-top: 40px;
  position: absolute;
  background-color: white;
  color: black;
  font-family: sans-serif;
  p{
    margin: 0 auto 10px 20px;
    padding-top: 10px;
    font-size: 0.6em;
  }
}

}



/* ==========================================================================
   Query iPhone 5
   ========================================================================== */


@media only screen and (device-height : 568px) 
   and (device-width : 320px) 
   and (-webkit-min-device-pixel-ratio: 2){

    html{
      max-width: 100% !important;
    }

  
  body{
    background-image: none;
    background-position: top;
    -webkit-background-attachment: scroll;
    -moz-background-attachment: scroll;
    -o-background-attachment: scroll;
    -ms-background-attachment: scroll;
    background-attachment: scroll;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
  }

  img{
    overflow-x: hidden;
  }

  #page{
    max-width: 95%;
    width: 95%;
    height: auto;
    overflow-x: hidden;
  }

  #page #header{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 58px;
    overflow-x: hidden;
  }

  #page #header #logo .sitename {
    display:none;
  }

  #page #header #logo .mobilesitename {
    display:none;
  }

    #page #header nav.mobil {
    display:inline;
    height: 58px;
    position: absolute;
    top: 0;
    width: 50%;
    li.select_menu{
      display:block;
      margin-right:7px;
      margin-left: 37.5%;
    }
  }

  .title{
    display: none;
  }

  .mobi-image{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: auto;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    overflow: hidden;

  }

  .mobi-image img{
    max-width: 120%;
    width: 120%;
    height: auto;
    overflow: hidden;
  }

  .title, .title-border-bottom, .title-border-top{
    display: none;
  }

  .mobi-title{
    display: block;
    position: relative;
    top: 0;
    width: 70%;
    z-index: 1;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;
}

  .mobi-title h1{
    color: #fff;
    font-family: 'Aktiv', 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.82em;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
  }

  .tablet-title{
    display: none !important;
  }

  .main{
    top: 250px;
    height: auto; 
  }
  .main .abstract{
    font-size: 1em;
    font-weight: 800;
    width: 80%;
    margin: 0 10% 0 10%;
    border-bottom: 1px solid white;
  }

  .main .interview{
  margin: 10% 10% 10% 10%;
  font-size: 0.8em;
  width: 80%;
  }

  .full-image{
    width: 90%;
    height: auto;
    margin-bottom: 5%;
  }

  .float-image{
    width: 90%;
    height: auto;
    float: left;
  }

  .float-text{
    width: 80%; /*90% of 80% normal column size, non-float*/
    margin: 0 10% 0 10%;
    font-size: 0.8em;
    line-height: 1.5;
  }

  .float-text .col1{
    width: 100%;
  }

  .float-text .col2{
    margin-left: 0;
    width: 100%;
  }

  .rbma-float{
    font-size: 1.1em;
    margin-top: 5%;
    margin-left: 0;
    left: 0;
    width: 100%;
  }

  .interview{
    margin-top: -30px;
  }

  .rbma{
    text-align: left;
    left: 0;
    width: 80%;
    margin: auto 10% -8% 10%;
    font-size: 0.9em;
    text-transform: uppercase;
  }

  .col1, .col2{
    float: left;
    width: 100%;
    font-size: 1em;
    line-height: 1.7

  }
  .col1{
    width: 96%;
    margin: 5% 4% 5% 0;
    left: 0;
  }

  .col2{
    width: 96%;
    margin: 5% 4% 5% 0;
    left: 0;
  }

  .pullquote{
    font-size: 1.5em;
    border-bottom: 1px solid black;
    line-height: 1.5;
    padding-top: 0;
  }

  .pullquote-image, .pullquote-image-bottom, .pullquote-image-bottom-left{
    display:none;
  }

  .black{
    background-color: #000;
    color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
  }



  .credits{
    color: #fff;
    font-size: 0.7em;
    .social-links{
    float: right;
    margin-top: -25px;
    margin-right: 25%;
    a{
      img{
        max-width: 20px;
        height: auto;
      }
    }
  }
  }

    .small-pull{
  width: 100%;
  margin: auto 0 2.5% 0;
  .small-image{
    max-width: 100%;
    width: 100%;
    float: left;
    img{
      max-width: 90%;
    }
  }
  .small-quote{
    float: left;
    max-width: 100%;
    width: 100%;
    left: 0;
    position: relative;
    line-height: 1.5;
    margin-top: 2.5%;
    margin-bottom: 0;
    p{
      text-transform: uppercase;
      font-size: 1.5em;
      margin: 0;
    }
  }
  }
    footer{
  width: 100%;
  height: 60px;
  bottom: 0;
  margin-top: 40px;
  position: absolute;
  background-color: white;
  color: black;
  font-family: sans-serif;
  p{
    margin: 0 auto 10px 20px;
    padding-top: 10px;
    font-size: 0.6em;
  }
}

}

/* ==========================================================================
   Query mobile
   ========================================================================== */



@media (max-width: 321px){

  html{
    max-width: 100% !important;
  }
  
  
  body{
    background-image: none;
    background-position: top;
    -webkit-background-attachment: scroll;
    -moz-background-attachment: scroll;
    -o-background-attachment: scroll;
    -ms-background-attachment: scroll;
    background-attachment: scroll;
    width: 100%;
    height: auto;
  }

  #page{
    width: 100%;
  }
  #header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 321px;
  }

  #page #header #logo .sitename {
    display:none;
  }

  #page #header #logo .mobilesitename {
    display:none;
  }

    #page #header nav.mobil {
    display:inline;
    height: 58px;
    position: absolute;
    top: 0;
    width: 60%;
    padding-left: 5%;
    li.select_menu{
      display:block;
      margin-right:7px;
      margin-left: 37.5%;
    }
  }

  .title{
    display: none;
  }

  .mobi-image{
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 250px;
    overflow: hidden;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    img{
      max-width: 100%;
      width: 100%;
      height: 250px !important;
    }

  }



  .title, .title-border-bottom, .title-border-top{
    display: none;
  }

  .mobi-title{
    display: block;
    position: relative;
    top: 0;
    width: 70%;
    height: auto;
    z-index: 1;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;
    h1{
      color: #fff;
      font-family: 'Aktiv', 'Lato', sans-serif;
      font-weight: bold;
      font-size: 1.82em;
      padding: 10px 10px 10px 10px;
      text-transform: uppercase;
    }
  }

    #page #header nav.mobil {
    display:block;
    display:inline;
    height: 58px;
    position: absolute;
    top: 0;
    li.select_menu{
      display:block;
      margin-right:7px;
      margin-left: 30.5%;
    }
  }



  .tablet-title{
    display: none !important;
  }

  .main{
    top: 250px;
    height: auto;

    .abstract{
      font-size: 1em;
      font-weight: 800;
      width: 80%;
      margin: 0 10% 0 10%;
      border-bottom: 1px solid white;
    }
    .interview{
      margin: 10% 10% 10% 10%;
      font-size: 0.8em;
      width: 80%;
      position: relative;
      .final{
        margin-bottom: 30px !important;
      }
    }
  }


  .full-image{
    width: 90%;
    margin-bottom: 5%;
    height: auto;
  }

  .float-image{
    width: 90%;
    height: auto;
    float: left;
  }

  .float-text{
    width: 80%; /*90% of 80% normal column size, non-float*/
    margin: 0 10% 0 10%;
    font-size: 0.8em;
    line-height: 1.5;
    .col1{
      width: 100%;
    }
    .col2{
      margin-left: 0;
      width: 100%;
    }
  }


  .rbma-float{
    font-size: 1.2em;
    margin-top: 5%;
    margin-left: 0;
    left: 0;
    width: 100%;
  }

  .interview{
    margin-top: -30px;
  }

  .rbma{
    text-align: left;
    left: 0;
    width: 80%;
    margin: auto 10% -8% 10%;
    font-size: 0.9em;
    text-transform: uppercase;
  }

  .col1, .col2{
    float: left;
    width: 100%;
    font-size: 1em;
    line-height: 1.7

  }
  .col1{
    width: 96%;
    margin: 5% 4% 5% 0;
    left: 0;
  }

  .col2{
    width: 96%;
    margin: 5% 4% 5% 0;
    left: 0;
  }

  .pullquote{
    font-size: 1.5em;
    border-bottom: 1px solid black;
    line-height: 1.5;
    padding-top: 0;
  }

  .pullquote-image, .pullquote-image-bottom, .pullquote-image-bottom-left{
    display:none;
  }

  .black{
    background-color: #000;
    color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .final{
    min-height: 450px;
    height: 450px;
  }


    footer{
  width: 100%;
  height: 60px;
  bottom: 0;
  margin-top: 40px;
  position: absolute;
  background-color: white;
  color: black;
  font-family: sans-serif;
  p{
    margin: 0 auto 10px 20px;
    padding-top: 10px;
    font-size: 0.6em;
  }
}

  .credits{
    color: #fff;
    font-size: 0.7em;
  }

    .small-pull{
  width: 100%;
  margin: auto 0 2.5% 0;
  .small-image{
    max-width: 100%;
    width: 100%;
    float: left;
    img{
      max-width: 90%;
    }
  }
  .small-quote{
    float: left;
    max-width: 100%;
    width: 100%;
    left: 0;
    position: relative;
    line-height: 1.5;
    margin-top: 2.5%;
    margin-bottom: 0;
    p{
      text-transform: uppercase;
      font-size: 1.5em;
      margin: 0;
    }
  }
  }
} //end media queries
