@font-face {
  font-family: 'Clan';
  src: url("../font/ClanPro-NarrUltra.otf") format("opentype");
  font-weight: 800;
  font-style: normal; 
}

@font-face {
  font-family: 'aktiv';
  src: url("../font/AktivGroteskBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; 
}

@font-face {
  font-family: 'aktiv';
  src: url("../font/AktivGrotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}




nav{
	background-color: black;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 60px;
}

h1, h2, h3{
	font-family: 'aktiv', 'Clan', helvetica, sans-serif !important;
	text-transform: uppercase;
}

ul{
	background-color: black;
	color: white;
	font-family: 'aktiv', 'Clan', helvetica, sans-serif;
	li{
		display: inline;
		&.artist-list{
			a{
				color: #2ecc71;
			}
		}
		&.add-artist{
			a{
				color: #3e9ddd;
			}
		}
		&.logout{
			float: right;
			margin-right: 40px;
			a{
				color: red;
				padding: 10px;
			}
		}
		a{
			text-decoration: none;
			color: white;
			padding-right: 40px;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

table{
	width: 80%;
	margin-left: 10%;
	th{

	}
	td{
		padding-right: 40px;
		padding-top: 40px;
		padding-bottom: 40px;
		border-bottom: 1px solid black;
	}
}

.user-icon{
	max-width: 30px;
	height: auto;
}

.user-container{
	margin-top: 150px;
	width: 80%;
	margin-left: 10%;
	h3{
		text-align: center;
		font-size: 2em;
	}
}

.show-button{
	background-color: #2ecc71;
	padding: 10px;
	color: black;
	text-decoration: none;
	&:hover{
		background-color: #27ae60;
	}
}

.edit-button{
	background-color: #f1c40f;
	padding: 10px;
	color: black;
	text-decoration: none;
	&:hover{
		background-color: #f39c12;
	}
	&.edit-screen{
		left: 0;
	}
}

form{
	width: 100%;
	text-align: center;
	h2{
		font-size: 2.5em;
	}
}

.edit-form{
	margin-top: 100px;
	h2{
		color: white;
	}
	&.black{
		h2{
			color: black;
		}
	}
}

.user-edit-form{
	width: 80%;
	margin-left: 10%;
	margin-top: 100px;
	h2{
		color: black;
	}
	.control-group{
		margin-left: 0;
	}
}

.control-group{
	margin-top: 20px;
	width: 40%;
	margin-left: 30%;
	input{
		background-color: #ecf0f1;
		border: none;
		height: 40px;
		width: 100%;
		&:focus{
			border: 1px solid black;
		}
	}
	label{
		color: white;
		font-weight: bold;
	}
}
input[type="submit"]{
	background-color: red !important;
	padding: 5px;
	border: none;
	text-align: center;
	&.create-button{
		background-color: #2ecc71 !important;
		text-align: center;
		width: 200px;
		height: 30px;
		margin-top: 40px;
		&:hover{
			background-color: #27ae60 !important;
		}
	}
	&:hover{
		background-color: #e74c3c !important;
	}
	&.blue{
		background-color: #3498db !important;
		&:hover{
			background-color: #2980b9 !important;
		}
	}
}

.add-user{
	position: relative;
	margin-left: 10%;
	top: 40px;
	text-decoration: none;
	color: black;
	background-color: #3e9ddd;
	padding: 10px;
	&:hover{
		background-color: #2980b9;
	}
}

.return{
	position: relative;
	top: 100px;
	margin-left: 10%;
	a{
		color: #3e9ddd;
		&:hover{
			color: #7f8c8d;
		}
	}
}


.show-container{
	width: 60%;
	margin-left: 10%;
	margin-top: 150px;
	color: white;
	h3 a{
		color: #9b59b6;
		text-transform: lowercase;
	}
}

.user-show-container{
	width: 60%;
	margin-left: 10%;
	margin-top: 150px;
	color: black;
}


.artist-list-container{
	width: 80%;
	margin-left: 10%;
	margin-top: 150px;
	text-align: center;
	font-family: 'aktiv', 'Clan', helvetica, sans-serif;
	table{
		text-align: left;
		margin-top: 40px;
		td{
			text-align: left;
		}
	}
}

p .counter{
	position: absolute;
	top: 150px;
	left: 50px;
	color: black;
}

.edit-screen-delete{
	position: absolute;
	margin-top: 40px;
	left: 10%;
}

.add-button{
	position: fixed;
	top: 150px;
	left: 50px;
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 10px;
}

.new-artist-container{
	margin: 100px;
}

textarea{
	width: 100%;
	resize: none;
	background-color: #ecf0f1;
	border: none;
}

.show-image{
	width: 100%;
	min-height: 100%;
	left: 0;
	top: 60px;
	position: fixed;
	z-index: -1;
}

.session-form{
	width: 80%;
	margin-left: 10%;
	margin-top: 10%;
	.control-group{
		margin-left: 0;
	}
}
